*{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.menu ul{
	list-style-type: none;
	overflow: hidden;
}

.menu li, a{
	float: left;
	padding: 10px;
	text-decoration: none;
	color: gray;
	font-size: 18px;
}

ul li a:hover{
	background-color: gray;
	color: white;
}

.banner{
	text-align: center;
}

.main {
	padding-left: 250px;
}